// Overriding CSS

//Typography
body, h3 { letter-spacing: 0.3 }
h2, h4 { letter-spacing: 0.08; }
.display-1, .display-2 { letter-spacing: 0.11; }
nav { letter-spacing:0.05; }
//Buttons
.btn {
	padding: $btn-padding-y $btn-padding-x;
	font-size: $font-size-base;
}
.btn-lg {
	padding: $btn-padding-y-lg $btn-padding-x-lg;
	font-size: $font-size-lg;
}
.btn-sm {
	padding: $btn-padding-y-sm $btn-padding-x-sm;
	font-size: $font-size-sm;
}
.text-secondary {
	color: $azuro-teal;
}
.badge {
	border-radius: 0;
}
.badge-secondary {
	background-color: $azuro-teal;
}
.azuro-badge--top {
	font-size: 12px;
	padding: 8px 40px;
	top: -2.5rem;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}
.azuro-badge--right {
	font-size: 14px;
	padding: 12px 56px;
	margin-right: -2.5rem;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}

//Forms
label {
	color: $gray;
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
}
.form-control {
	padding: $input-padding-y $input-padding-x;
	font-size: $font-size-base;
}
.form-control-lg {
	padding: $input-padding-y-lg $input-padding-x-lg;
	font-size: $font-size-lg;
}
.form-control-sm {
	padding: $input-padding-y-sm $input-padding-x-sm;
	font-size: $font-size-sm;
}
.form-control-feedback {
	font-size: $font-size-sm;
}
input.form-control.input-group-addon {
	text-align: left;
}

//Card
.card {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
}
.card-block {
	padding: 2.5rem;
}
.card-title {
	margin-bottom: 2rem;
}

//Navbar
.navbar-light .navbar-toggler {
	border-color: transparent;
}
.navbar {
	padding-top: .675rem;
	padding-bottom: .675rem;
	// == move these as and when required. They are not required when bg is transparent
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,0.12);}
	// == end
.navbar-nav {
	font-weight: 300;
	line-height: 2;
}
.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
	color: $azuro-blue;;
}
.azuro-call-icon {
	align-self: flex-start;
	padding: 0.25rem 0.75rem;
	font-size: 1rem;
	line-height: 1;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	position: absolute;
	right: 0.5rem;
}
.fa-lg.fa-va-fix {
	vertical-align: -50%;
}
//Footer
.footer-heading, .footer-text {
	font-size: 15px;
	letter-spacing: 0.3px;
}
.footer-heading {
	font-weight: bold;
	line-height: 1;
}
.footer-text {
	font-weight: normal;
	line-height: 1.6;
	margin-bottom: 0;
}
.footer-link, .footer-link:hover, .footer-link:active {
	color: #9d9d9d;
}
