// Overriding fonts
.btn {
	padding: $btn-padding-y $btn-padding-x;
	font-size: $font-size-base;
}
.btn-lg {
	padding: $btn-padding-y-lg $btn-padding-x-lg;
	font-size: $font-size-lg;
}
.btn-sm {
	padding: $btn-padding-y-sm $btn-padding-x-sm;
	font-size: $font-size-sm;
}
label {
	color: $gray;
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
}
.form-control {
	padding: $input-padding-y $input-padding-x;
	font-size: $font-size-sm;
}
.form-control-lg {
	padding: $input-padding-y-lg $input-padding-x-lg;
	font-size: $font-size-lg;
}
.form-control-sm {
	padding: $input-padding-y-sm $input-padding-x-sm;
	font-size: $font-size-sm;
}
.form-control-feedback {
	font-size: $font-size-sm;
}
